.book{
background-color: peachpuff;
background-size: cover;
}
.a1 {
margin-left: 25vh;

}
.a2{
    margin-left: 25vh;
}
.a3{
    margin-left: 25vh;
}
.a4{
    margin-left: 25vh;
}
.a5{
    margin-left: 25vh;
}
.a6{
    margin-left: 25vh;
}
.b1{
    padding: 1vh;
    
}
.b2{padding: 1vh;}
.b3{
    padding: 1vh;
  
}
.b4{padding: 1vh;
}
.b5{padding: 1vh;
}.b6{
    padding: 1vh;
}
.b7{
    padding:5vh;
}
.qq3{
    text-decoration: none;
    color: black;
}
